*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.noFill{
    fill: none;
}
body{
    background: #edf0f1;
    padding: 80px 0 0 0;
}
header{
    width:100%;
    height: 80px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background: #25b99a;
    box-shadow: 0px 2px 6px rgba( 44,62,80,0.15);
    -webkit-box-shadow:  0px 2px 6px rgba( 44,62,80,0.15);
    -moz-box-shadow:0px 2px 6px rgba( 44,62,80,0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header input {
    width: 100%;
    height:50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-width: 400;
    text-indent: 18px;
    padding: 0px 60px 0px 0px ;
    background: rgba(255, 255 ,255 ,0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/*placeholder*/
header input::-webkit-input-placeholder{
    color:rgba(255,255,255,0.75);
}

header button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top:15px;
    right:15px;
    z-index: 2;
    background: #ffffff;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/*svg */
header button svg{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

/*svg fill*/
header button svg .fill{
    fill: #25b99a;
}
/**========================**/
/*    容器部分*/
.container{
    width:100%;
    padding: 15px;
    float: left;
}
ul.todo{
    width: 100%;
    float: left;
}
/*ul.todo 这种写法表示有类为TODO的ul*/
ul.todo li{
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    line-height: 22px;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44,62,80,0.1);
    margin: 0px 0px 10px 0px ;
    padding: 14px 100px 14px 14px ;
}

ul.todo li :last-of-type {
    /*margin-top: 10px;*/
    margin:0;
}

ul.todo li .buttons{
    width:100px;
    height:50px;
    position: absolute;
    top: 0px;
    right:0px;
}
ul.todo li .buttons button{
    width: 50px;
    height: 50px;
    background: none;
    float: left;
    position: relative;
    border: 0;
    box-shadow: none;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
/*两个svg之间的竖线*/
ul.todo li .buttons button:last-of-type:before{
    content: "";
    width: 1px;
    height:30px;
    position: absolute;
    left: 0px;
    top: 10px;
    background: #edf0f1;
}
/*设置svg图片的大小*/
ul.todo li .buttons button svg{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}

/*设置完成状态svg的圆圈*/
ul.todo li button.complete svg {
    border-radius: 11px;
    border: 1.5px solid #25b99a;
    transition: background 0.2s ease;
}

/*设置remove的颜色 鼠标悬停  和动画*/
ul.todo li button.remove svg .fill{
    fill: #c0cecb;
}
ul.todo li button.remove:hover svg .fill{
    fill: #e85656;
}
ul.todo li button svg .fill{
  transition: fill 0.3s ease ;
}

/*设置完成状态svg的样式变化*/
ul.todo .buttons button.complete svg .fill{
    fill: #25b99a;
}
/*如果当前元素不是complete让对号变成白色  ,发现是个好东西*/
ul.todo:not(#completed) li .buttons button.complete:hover svg .fill{
    fill: #ffffff;
}
ul.todo:not(#completed) li .buttons button.complete:hover svg {
    background: rgba(37,185,154,0.75);
}
/*如果当前元素是complete让对号变成绿色  ,发现是个好东西*/
ul.todo#completed li .buttons button.complete svg {
    background: #25b99a;
    border: 0px;
}
ul.todo#completed li .buttons button.complete svg .fill {
    fill: #ffffff;
}

ul.todo#completed{
    position: relative;
    padding: 60px 0px 0px 0px;
}
ul.todo#completed:not(empty):before{
    content:"";
    width: 150px;
    height: 1px;
    background: #d8e5e0;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0px 0px -75px 0px ;
}



